* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* User Select For Highlighting */

body {
  width: 100%;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  font-family: sans-serif;
  background: white;
  --primary-color: #7e94ad;
  --secondary-color: #d8d4ca;
  --third-color: #3f546f;
  --fourth-color: #8e8f8b;
  --fifth-color: #d4ebf6;
  background-color: rgb(255, 255, 255);
  position: relative;
}

/* Animation */

#abstract {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  object-fit: contain;
}

/* New Scrollbar */

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-track {
  background: rgb(3, 3, 3);
  opacity: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: solid 1px black;
}

/* Intro Section */

.bgImg {
  position: relative;
  /* background: url("https://www.freepik.com/vectors/alien-planet"); */
  z-index: 1;
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* .bgImg::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.601);
  top: 0;
  left: 0;
  height: 0px;
  width: 0px;
  border-top: 50px;
  border-top: 0px solid;
  border-left: 500px solid transparent;
  border-right: 100vw solid transparent;
  border-bottom: 100vh solid rgba(80, 80, 80, 0.089);
  backdrop-filter: blur(1px);
} */

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  text-transform: uppercase;
  height: 60px;
  font-weight: bolder;
  z-index: 20;
  color: rgb(136, 189, 240);
  background-color: rgba(255, 255, 255, 0.841);
  box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.371);
  backdrop-filter: blur(10px) saturate(100%);
  font-size: 1.5rem;
  font-family: "Roboto";
  position: fixed;
  width: 100%;
}

.logo {
  z-index: 5;
  width: 200px;
}

.last {
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  font-weight: bolder;
}

.main-menu {
  z-index: 40;
  font-size: 0.9rem;
  transition: 0.3s all ease-in-out;
  font-weight: 600;
  opacity: 1;
}

/* Desktop nav menu */

.main-menu-list {
  display: flex;
  align-items: center;
  list-style-type: none;
}

.main-menu-list li a {
  text-decoration: none;
  padding: 0 20px;
  color: rgb(136, 189, 240);
  transition: all .3s ease-in-out;
  font-weight: bolder;
  font-size: 1rem;
  border-bottom: none;
}

.main-menu-list li a:hover {
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Mobile Hamburger nav */

.hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  right: 20px;
  width: 40px;
  height: 18px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  z-index: 5;
  opacity: 0;
}

.hamburger:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.hamburger:hover .line {
  color: var(--third-color);
}

.line {
  background-color: var(--primary-color);
  margin: 1.5px;
  padding: 1px;
  height: 6px;
  width: 50%;
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}

.menu {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.712);
  top: 0;
  right: 0;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 95%;
  transition: all 0.7s ease-in-out;
  transform: translateX(100%) translateY(-100%);
}

.active {
  transition: all 0.7s ease-in-out;
  transform: translateX(0%) translateX(0%);
  z-index: 2;
}

.active .links {
  opacity: 1;
}

.linksWrapper {
  position: fixed;
  right: 10%;
  top: 20%;
  width: 80%;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  font-size: 15px;
  font-weight: bold;
  z-index: 40;
}

.link1 {
  text-align: start;
}

.link2 {
  text-align: center;
}

.link3 {
  text-align: end;
}

.links {
  padding: 4px 10px;
  margin: 10px;
  opacity: 0;
  text-decoration: none;
  color: rgb(136, 189, 240) !important;
  z-index: 40;
}

.links a {
  text-decoration: none;
  color: rgb(136, 189, 240) !important;
  z-index: 40;
}

.links a:hover {
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  cursor: pointer;
  z-index: 40;
}

.homeLink {
  color: rgb(136, 189, 240);
  text-decoration: none;
}

/* Main Quote */

.title {
  z-index: 3;
  text-align: left;
  transition: 0.3s linear;
  height: 100%;
  width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  justify-content: center;
  overflow: hidden;
}

.title h1 {
  padding-top: 20px;
  font-size: 8rem;
  font-family: Lobster;
  font-weight: 600;
  color: var(--third-color);
  text-shadow: 2px 5px 1px var(--primary-color);
}

.title p {
  padding: 30px 0 20px 5px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  color: var(--primary-color);
}

/* Call to action */
.contact-me {
  padding: 10px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
  border: none;
  font-size: 1rem;
  border-radius: 40px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.2s ease-in-out;
}

.contact-me:hover {
  transform: scale(1.1);
}

/* Intro Page Shadow Animation */

.shadow {
  position: absolute;
  bottom: 0%;
  width: 100%;
  background: linear-gradient(to top, rgb(255, 255, 255), rgba(255, 255, 255, 0.712), transparent);
  transition: 0.2s linear;
  height: 50px;
  z-index: 1;
  border-bottom: 5px solid var(--third-color);
}

/* Projects Section */

.shadow2 {
  position: absolute;
  top: 0%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.237), transparent);
  transition: 0.1s linear;
  height: 100px;
}

.fixed-img {
  background: url("./images/bgImg.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

#projects {
  position: relative;
  /* padding: 200px 40px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding: 100px 10px 200px 10px;
}

#projects::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(57, 57, 57, 0.338);
  z-index: 0;
}

.projects-header {
  position: absolute;
  top: 20px;
  text-align: center;
  width: 200px;
  text-transform: uppercase;
  padding-bottom: 50px;
  color: var(--third-color);
  color: white;
  padding: 20px;
  z-index: 1;
}

.projectContainer {
  width: 400px;
  height: 500px;
  padding: 10px;
  margin: 20px;
  color: var(--fourth-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  box-shadow: 1px 1px 5px rgba(2, 2, 2, 0.444);
  background-color: rgba(103, 120, 146, 0.51);
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
  /* background-color: white; */
  overflow: hidden;
  backdrop-filter: blur(2px) saturate(200%);
  color: white;
  z-index: 1;
}

.projectContainer:hover {
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: translateY(-2%);
  backdrop-filter: blur(10px) saturate(200%);
}

.projName {
  font-size: 2rem;
  height: 50px;
  text-transform: uppercase;
  width: 100%;
  transition: all 0.5s ease-in-out;
  font-weight: bold;
}

.desc-container {
  height: 150px;
}

.description {
  height: 100%;
  font-family: "Open-Sans";
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-weight: bold;
}

.technologies {
  display: flex;
  justify-content: space-evenly;
}

.tech {
  background-color: var(--primary-color);
  backdrop-filter: blur(1px) saturate(200%);
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.projVid {
  filter: brightness(100%);
  transition: all 0.5s ease-in-out;
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.5);
}

.projectContainer:hover .projVid {
  filter: brightness(50%);
}

.projects {
  position: relative;
  overflow: hidden;
  text-align: center;
  align-items: center;
  width: 100%;
}

/* Project Buttons */
.buttons {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  height: 100%;
  width: 100%;
  align-items: center;
}

.buttons button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  background-color: var(--primary-color);
  border-radius: 5px;
  color: white;
  border: none;
  width: 80px;
}

.projectContainer:hover button {
  opacity: 1;
}

button:hover {
  color: white;
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
}

/* Skills section */

.skills-container {
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  overflow: visible;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  flex-wrap: wrap;
  z-index: 0;
  background-color: var(--third-color);
}

.skills-header {
  font-weight: bold;
  color: var(--third-color);
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 70px;
  border-top: 5px solid var(--third-color);
  width: 100%;
  text-align: center;
  background-color: rgb(245, 245, 245);
}

.skills-container::after {
  content: "";
  position: absolute;
  top: 0;
  transform: skewY(2deg);
  background: inherit;
  width: 100%;
  height: 100%;
  transform-origin: right top;
  z-index: -1;
  opacity: 0.9;
}

.skills-container div {
  text-align: center;
  padding: 50px;
}

.skills-container i {
  z-index: 2;
}

.fa-html5 {
  color: rgb(255, 146, 0.7);
}

.fa-css3-alt {
  color: rgba(0, 162, 255, 0.7);
}

.fa-js-square {
  color: rgba(255, 255, 0, 0.7);
}

.fa-react {
  color: rgba(0, 204, 255, 0.7);
}

#contact {
  color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: rgb(245, 245, 245);
}

.contact-container {
  position: relative;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  padding: 20px;
  width: 500px;
  height: 100%;
  margin: 100px 10px;
  display: flex;
  justify-content: center;
  text-align: left;
  font-weight: bold;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 2px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-size: 1rem;
  background-color: rgb(219, 219, 219);
  color: var(--third-color);
}

.submit {
  margin-left: 50%;
  transform: translate(-50%);
  padding: 5px;
  border-radius: 2px;
  border: none;
  transition: all 0.4s ease-in-out;
  background-color: var(--third-color);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.submit:hover {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    to right,
    rgba(0, 60, 255, 0.7),
    rgb(255, 123, 0)
  );
}

.footer {
  position: fixed;
  background: var(--third-color);
  height: 50px;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  z-index: 5;
}

/*Error on validating form*/
.error {
  color: red;
  font-size: 0.8rem;
}

/*Social links at bottom of page */

footer i {
  margin: 0 10px;
  color: white;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

footer i:hover {
  color: rgb(255, 123, 0);
}

@media (max-width: 500px) {
  #abstract {
    top: 190px;
    left: -80px;
    height: calc(100vh - 80px);
  }
  .nav {
    font-size: 1rem;
  }

  .main-menu {
    visibility: hidden;
  }

  .hamburger {
    opacity: 1;
  }

  .title {
    top: 60%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    font-size: 1.5rem;
    padding-left: 10px;
  }
  .title h1 {
    font-size: 3.5rem;
    text-shadow: 2px 2px 1px var(--primary-color);
  }

  .title p {
    margin: 0;
    font-size: 1rem;
  }

  .contact-me {
    font-size: 0.7rem;
    padding: 7px;
  }

  .bgImg {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }

  .contact-container {
    width: 90%;
  }

  #projects {
    padding-left: 10px;
    padding-right: 10px;
  }
  .projectContainer {
    margin: 20px 0px;
  }

  .projImg {
    height: auto;
  }

  .projects button {
    width: 70px;
    font-size: 0.8rem;
    padding: 10px;
  }
  .contact-container {
    margin: 100px 0px;
    width: 100%;
  }
}

@media (max-height: 500px) {
  #abstract {
    left: 100px;
    height: calc(100vh + 300px);
  }
  .nav {
    font-size: 1rem;
  }
  .logo {
    font-size: 1rem;
  }

  .title {
    font-size: 1rem;
    padding-top: 0px;
    padding-left: 20px;
    top: 50%;
    height: 100%;
    width: 300px;
  }

  .title h1 {
    padding-top: 5px;
    font-size: 2rem;
  }

  .title p {
    margin: 10px 0;
    font-size: 1rem;
  }

  .contact-me {
    font-size: 0.7rem;
    padding: 10px;
  }
}

@media (min-width: 1500px) {
  #abstract {
    right: -600px;
    height: calc(100vh + 700px);
  }
}